// xsmall: mobile version (~ 360px)
#section-experiences {
    padding: 110px 0 20px 0; 
    margin: 0;
    font-family: "Avenir LT";
  }
.carousel {  
  margin: 50px 0 50px 0;
  &__content {   
    display: flex;  
    justify-content: center;
    .arrow {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        i {
          font-size: 3rem;
          color: $color-primary;
        }
        &--previous {
          margin-right: 3vw;
          cursor: pointer;
        } 
        &--next {
            margin-left: 3vw;           
            cursor: pointer;
        } 
    }
    .slide-container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        .slide {        
          transition: all 2s ease;
          display: none;
          width: 280px;
          height: 380px;
          margin: 10px 0;
          position: relative;
          background-color: transparent;
          &__heading {
              text-transform: uppercase;
              font-family: "Avenir LT";
              font-weight: 800;
              font-size: 1.1rem;
              padding-top: 20px;          
              color: $grey-darker;                    
              margin: 10px 10px;
          }
          &__title {
              text-align: left; 
              margin: 20px 0 0 10px;
              font-weight: 700;
              font-size: 1.2rem;
              color: $dark-primary;
          }
          &__description {
            text-align: left;
            margin: 10px 0px 10px 10px;
            font-size: 1.1rem;
            color: $dark-lighter;
          }
          &__link {
              a {
                  text-decoration: none;
                  color: $grey-darker;
              }
              position: absolute;
              left: 50%;
              bottom: 15%;
              transform: translate(-50%, 0);
              width: 100%;
              text-align: left;
              margin: 0px 10px;
              font-size: 1rem;
          }
          hr {
            display: inline-block;
            width: 260px;
            height: 1px;
            border: none;
            border-top: 1px solid $grey-darker;
            position: absolute;
            left: 50%;
            bottom: 12%;
            transform: translate(-50%, 0);
          }
          &__duration {
            font-size: 1rem;
            position: absolute;
            left: 50%;
            bottom: 6%;
            transform: translate(-50%, 0);
          }
          &:nth-child(1){
            display: block;
          }
        }
        .slide--empty {
            visibility:hidden;
        }
    }  
  }
  &__dots {
      display: inline;
      .fa-circle, .current-dot {
          font-size: 1.3rem; 
          margin: 0 5px;        
      }
      .fa-circle {
        color: $grey-primary; 
        cursor: pointer;
      }
      .current-dot {
        color: $color-primary; 
        cursor: pointer;
      }
  } 
}

// Medium: ≥768px
@media only screen and (min-width: 768px) {
    .carousel {
        &__content {
            .slide-container {
                .slide {
                    margin: 10px 20px;
                    &:nth-child(1){
                        display: block;
                    }
                    &:nth-child(2){
                        display: block;
                    }
                }
            }
        }
    }
}

// Large: ≥992px
@media only screen and (min-width: 992px) {
    .carousel {  
        .slide-container {
            min-width: 70%;
        }      
        &__content {
            .arrow {
                &--previous {
                    margin-right: 1vw;
                } 
                &--next {
                    margin-left: 1vw;
                }
            }    
            .slide-container {
                .slide {
                    margin: 10px 1vw;
                    &:nth-child(1){
                        display: block;
                    }
                    &:nth-child(2){
                        display: block;
                    }
                    &:nth-child(3){
                        display: block;
                    }
                }
            }
        }
    }
} 

// X-Large: ≥1200px
@media only screen and (min-width: 1200px) {
    .carousel {  
        .slide-container {
            min-width: 70%;
        }      
        &__content {
            .arrow {
                &--previous {
                    margin-right: 1vw;
                } 
                &--next {
                    margin-left: 1vw;
                }
            }    
            .slide-container {
                .slide {
                    margin: 10px 1vw;
                    width: 320px;
                    &:nth-child(1){
                        display: block;
                    }
                    &:nth-child(2){
                        display: block;
                    }
                    &:nth-child(3){
                        display: block;
                    }
                    &__heading {
                        font-size: 1.2rem;
                    }
                    &__title {
                        font-size: 1.3rem;
                    }
                    &__description {
                      font-size: 1.2rem;
                      color: $dark-lighter;
                    }
                    &__link {
                        font-size: 1.1rem;
                    }
                    hr {
                      width: 280px;
                    }
                    &__duration {
                      font-size: 1.1rem;
                    }
                }
            }
        }
    }
} 
