#button {
    background: $grey-primary;
}

// For the btn: &::before, &::after =>  background: using the background of the container
.btn {
    font-family: "Avenir LT";
    font-size: 0.85rem;
    position: relative;
    display: inline-block;
    border: 1px solid $dark-primary;
    color: $dark-primary;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 0px;
    // font-weight: 700;
    margin: 5px;
    &::before {
        content: '';
        position: absolute;
        top: 8px;
        left: -2px;
        width: calc(100% + 4px);
        height: calc(100% - 16px);
        transition: 0.5s ease-in-out;
        // background: $grey-primary;
    }
    &::after {
        content: '';
        position: absolute;
        left: 8px;
        top: -2px;
        width: calc(100% - 16px);
        height: calc(100% + 4px);
        transition: 0.5s ease-in-out;
        // background: $grey-primary;
    }
    &:hover {
        font-weight: 700;
    }
    span {
        position: relative;
        z-index: 3;
    }
    .btn-code, .btn-me, .btn-all, .btn-asp, .btn-js, .btn-php, .btn-mobile, .btn-other, .btn-en, .btn-fr {
        // border: palegoldenrod 1px solid;
        padding: 10px 20px;
    }
}
// For the btn-unfilled: scaleY and scaleX from 1=>0
.btn-unfilled {
    &::before {
        transform: scaleY(1);
    }
    &:hover::before {
        transform: scaleY(0);        
    }
    &::after {
        transform: scaleX(1);
    }
    &:hover::after {
        transform: scaleX(0);        
    }
}

// For the btn-filled: scaleY and scaleX from 0=>1;&: background=> choose the color we want, &:hover => background: transparent;
.btn-filled {
    background: pink;
    &::before {
        transform: scaleY(0);
    }
    &:hover::before {
        transform: scaleY(1);        
    }
    &::after {
        transform: scaleX(0);
    }
    &:hover::after {
        transform: scaleX(1);        
    }
    &:hover {
        background: transparent;
    }
}

.btn-darkF {
    background: $dark-primary;
    color: $color-white;
    z-index: 0;
    &::before, &::after {       
        background: $color-white;
    }
    &:hover {
        color: $dark-primary;
    }
}

.btn-whiteU {
    &::before, &::after {       
        background: $color-white;
    }
}
.btn-whiteF {
    background: $color-white;
    z-index: 0;
    &::before, &::after {       
        background: $color-white;
    }
}
.btn-downloadF {
    background: $color-primary;
    color: $dark-primary;
    border: 1px solid $color-primary;
    z-index: 0;
    &::before, &::after {       
        background: $dark-primary;
    }
    &:hover {
        color: $color-primary;
    }
}
.btn-downloadUF {
    background: transparent;
    color: $color-primary;  
    border: 1px solid $color-primary;
    z-index: 0;
    &::before, &::after {       
        background: $dark-primary;
    }
    &:hover {
        color: $color-primary;
    }
}

// Medium: ≥768px
@media only screen and (min-width: 768px) {
    .btn {
        font-size: 1.1rem;
    }
}
// Large: ≥992px
@media only screen and (min-width: 992px) {
    .btn {
        font-size: 1.2rem;
    }
}