// Version mobile 
#section-portfolio {
    padding: 100px 0;
    font-family: "Avenir LT"; 
}
.filters {
    margin: 50px 0;
}
.partialDisplay, .fullDisplay {
    .card-container {
        display: flex;
        flex-wrap: wrap;  
        justify-content: center; 
        width: 90vw;     
        margin: 0 auto;
       .card {
           position: relative;
           width: 90vw;    
           &__image {
               position: relative;
               width: 90vw;
               margin: 0 auto;
               margin: 0;
               padding: 0;
               img {
                    width: 100%;
                    height: 100%; 
                    margin: 0;
                    padding: 0;
                    display: block;
               }
               .card__image-info {
                    // border: peachpuff solid 1px;
                    position: absolute;
                    bottom: 12%;
                    left: 8%;
                    color: $color-white;
                    .card__image-subtitle{
                        font-style: italic;
                        text-align: left;
                        font-size: 1.2rem;
                    }
                    .card__image-title{
                        text-align: left;
                         font-weight: 700;
                         font-size: 2rem;
                    }
               }
           }
           &__overlay {
               position: absolute;
               overflow: hidden;
               width: 100%;
               left: 0;
               bottom: 0;
               height: 0;
               opacity: 0;
            //    background-color: $color-primary;
               background-color: $grey-darker;
               transition: all 0.6s ease;
               .card__overlay-info {
                // border: peachpuff solid 1px;
                position: absolute;
                bottom: 12%;
                left: 8%;
                color: $color-white;
                    .card__overlay-subtitle{
                        font-style: italic;
                        text-align: left;
                        color: $dark-lightest;
                        font-size: 1rem;
                    }
                    .card__overlay-title{
                        text-align: left;
                        font-weight: 700;
                        font-size: 1.5rem;
                    }
                    .card__overlay-intro{
                        text-align: left;
                        font-weight: 700;
                        font-size: 1.2rem;
                        color: $dark-lighter;
                    }
                    .seeMore {
                        font-style: italic;
                        cursor: pointer;
                        text-align: left;
                        font-size: 1rem;
                        color: $dark-primary;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
           }
           &:hover .card__overlay{
               height: 100%;
               opacity: 1;
    
           }
           .card__modal {
               background: $grey-darker;
               position: fixed;
                bottom: 0%; 
                top: 0%; 
                left: 0%; 
                right: 0%; 
                overflow: scroll; 
                height: 100vh;
               z-index: 5;
               &--hidden {
                   display: none;
               }
               .closeModal {
                   display: inline-block;
                   position: fixed;
                   top: 5%;
                   right: 3%;
                   font-size: 3rem;
                   cursor: pointer;
               }
               .modal-info {
                   .modal-title {
                       font-size: 3rem;
                       font-weight: bold;
                       color:$color-white;
                   }
                   .modal-description {
                       font-size: 1.5rem;
                   }
               }
               .modal-video {
                   width: 1000px;
                   border: sandybrown 2px solid;
               }
           }
       }
    }
    .see-more, .see-less {
        font-size: 1.4rem;
        font-style: italic;
        // text-decoration: underline;
        display: block;
        margin-left: 5%;
        margin-top: 50px;
        cursor: pointer;
        text-align: left;
        animation: all 0.3s ease-in-out;
        &:hover {
            text-decoration: underline;
        }
    }    
}
.partialDisplay {
    display: none;
    display: block;
}
.fullDisplay {
    display: none;
    // display: block;
}

// Medium: ≥768px
@media only screen and (min-width: 768px) {
    .partialDisplay, .fullDisplay {
        .card-container {
            .card {
                width: 44vw;
                &__image {
                    width: 100%;
                    height: 100%;
                }
                &__overlay {
                    .card__overlay-info {
                         .card__overlay-subtitle{
                             font-size: 1.2rem;
                         }
                         .card__overlay-title{
                             font-size: 2rem;
                         }
                         .card__overlay-intro{
                             font-size: 1.7rem;
                         }
                         .seeMore {
                             font-size: 1.2rem;
                         }
                     }
                }
            }
        }
    }
}
// Large: ≥992px
@media only screen and (min-width: 992px) {
    .partialDisplay, .fullDisplay {
        .card-container {
            .card {
                width: 29vw;
                &__image {
                    width: 100%;
                    height: 100%;
                }
                &__overlay {
                    .card__overlay-info {
                         .card__overlay-subtitle{
                             font-size: 1.2rem;
                         }
                         .card__overlay-title{
                             font-size: 2rem;
                         }
                         .card__overlay-intro{
                             font-size: 1.7rem;
                         }
                         .seeMore {
                             font-size: 1.2rem;
                         }
                     }
                }
            }
        }
    }
}