// Version mobile 
#section-portfolio {
    padding: 100px 0;
    font-family: "Avenir LT"; 
}
.intro-portfolio {
    width: 88%;
    margin: auto;
    margin-top: 20px;    
    font-size: 1.1rem;
    text-align: left;
}
.filters {
    margin: 50px 0;
}
.partialDisplay, .fullDisplay {
    .card-container {
        display: flex;
        flex-wrap: wrap;  
        justify-content: center; 
        width: 90vw;     
        margin: 0 auto;
       .card {
           position: relative;
           width: 90vw;    
           &__image {
               position: relative;
               width: 90vw;
               margin: 0 auto;
               margin: 0;
               padding: 0;
               img {
                    width: 100%;
                    height: 100%; 
                    margin: 0;
                    padding: 0;
                    display: block;
               }
               .card__image-info {
                    // border: peachpuff solid 1px;
                    position: absolute;
                    bottom: 12%;
                    left: 8%;
                    color: $color-white;
                    .card__image-subtitle{
                        font-style: italic;
                        text-align: left;
                        font-size: 1.2rem;
                    }
                    .card__image-title{
                        text-align: left;
                         font-weight: 700;
                         font-size: 2rem;
                    }
               }
           }
           &__overlay {
               position: absolute;
               overflow: hidden;
               width: 100%;
               left: 0;
               bottom: 0;
               height: 0;
               opacity: 0;
               background-color: $grey-darker;
               transition: all 0.6s ease;
               .card__overlay-info {
                // border: peachpuff solid 1px;
                position: absolute;
                bottom: 12%;
                left: 8%;
                right: 5%;
                color: $color-white;
                    .card__overlay-subtitle{
                        font-style: italic;
                        text-align: left;
                        color: $color-primary;
                        font-size: 1rem;
                        margin-bottom: 5px;
                    }
                    .card__overlay-title{
                        text-align: left;
                        font-weight: 700;
                        font-size: 1.5rem;
                    }
                    .card__overlay-intro{
                        text-align: left;
                        font-weight: 700;
                        font-size: 1.15rem;
                        color: $dark-lighter;

                    }
                    .seeMore {
                        font-style: italic;
                        cursor: pointer;
                        text-align: left;
                        font-size: 1rem;
                        color: $dark-primary;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
           }
           &:hover .card__overlay{
               height: 100%;
               opacity: 1;
    
           }
           .card__modal {
               background: $grey-darker;
               position: fixed;
                bottom: 0%; 
                top: 0%; 
                left: 0%; 
                right: 0%; 
                overflow: scroll; 
                height: 100vh;
               z-index: 5;
               &--hidden {
                   display: none;
               }
               .closeModal {
                   display: inline-block;
                   position: fixed;
                   top: 5%;
                   right: 3%;
                   font-size: 3rem;
                   cursor: pointer;
               }
               .modal-info {
                //    border: olive 2px solid;
                   width: 90%;
                   margin: 0 auto;
                   margin-top: 50px;
                   .modal-subtitle {
                       color: $color-primary;
                       font-size: 1.1rem;
                       text-align: left;
                       font-style: italic;
                       margin-bottom: 20px;
                   }
                   .modal-title {
                       font-size:2.5rem;
                       font-weight: bold;
                       color:$color-white;
                       text-align: left;
                   }
                   .modal-intro {
                       font-size: 1.5rem;
                       font-weight: bold;
                       color:$dark-primary;
                       text-align: left;
                       margin-bottom: 30px;
                   }
                   .modal-description {
                       font-size: 1.1rem;
                       text-align: left;
                       margin-bottom: 30px;
                   }
                }
                .modal-video-container{
                    // border: blue 1px solid;
                    // background: $grey-darkest;
                    .modal-video {
                        // border: orange 1px solid;
                         margin: 20px auto;
                         width: 100%;
                         video {
                             width: 100%;
                             height: auto;
                             border: none;
                         } 
                    }
                }
           }
       }
    }
    .see-more, .see-less {
        font-size: 1.4rem;
        font-style: italic;
        // text-decoration: underline;
        display: block;
        margin-left: 5%;
        margin-top: 50px;
        cursor: pointer;
        text-align: left;
        animation: all 0.3s ease-in-out;
        &:hover {
            text-decoration: underline;
        }
    }    
}
.partialDisplay {
    display: none;
    display: block;
}
.fullDisplay {
    display: none;
    // display: block;
}

// Medium: ≥768px
@media only screen and (min-width: 768px) {
    .intro-portfolio {    
        font-size: 1.2rem;
    }
    .partialDisplay, .fullDisplay {
        .card-container {
            .card {
                width: 44vw;
                &__image {
                    width: 100%;
                    height: 100%;
                }
                &__overlay {
                    .card__overlay-info {
                         .card__overlay-subtitle{
                             font-size: 1.15rem;
                         }
                         .card__overlay-title{
                             font-size: 1.8rem;
                         }
                         .card__overlay-intro{
                             font-size: 1.45rem;
                         }
                         .seeMore {
                             font-size: 1.15rem;
                         }
                     }
                }
                .card__modal {
                    .modal-info {
                        width: 80%;
                        margin-top: 50px;
                        .modal-subtitle {
                            font-size: 1.2rem;
                            margin-bottom: 20px;
                        }
                        .modal-title {
                            font-size: 2.7rem;
                        }
                        .modal-intro {
                            font-size: 1.6rem;
                            margin-bottom: 30px;
                        }
                        .modal-description {
                            font-size: 1.2rem;
                            margin-bottom: 30px;
                        }
                     }
                     .modal-video-container{
                         padding: 30px 0;
                         .modal-video {
                              margin: 10px auto;
                              width: 80%;
                              video {
                                  width: 100%;
                              } 
                         }
                     }
                }
            }
        }
    }
}
// Large: ≥1200px
@media only screen and (min-width: 1200px) {
    .intro-portfolio {    
        font-size: 1.25rem;
    }
    .partialDisplay, .fullDisplay {
        .card-container {
            .card {
                width: 29vw;
                &__image {
                    width: 100%;
                    height: 100%;
                }
                &__overlay {
                    .card__overlay-info {
                         .card__overlay-subtitle{
                             font-size: 1.25rem;
                         }
                         .card__overlay-title{
                             font-size: 2.1rem;
                         }
                         .card__overlay-intro{
                             font-size: 1.45rem;
                         }
                         .seeMore {
                             font-size: 1.25rem;
                         }
                     }
                }
                .card__modal {
                    .modal-info {
                        width: 80%;
                        margin-top: 50px;
                        .modal-subtitle {
                            font-size: 1.2rem;
                            margin-bottom: 20px;
                        }
                        .modal-title {
                            font-size: 3rem;
                        }
                        .modal-intro {
                            font-size: 1.7rem;
                            margin-bottom: 30px;
                        }
                        .modal-description {
                            font-size: 1.25rem;
                            margin-bottom: 30px;
                        }
                     }
                     .modal-video-container{
                         padding: 30px 0;
                         .modal-video {
                              margin: 20px auto;
                              width: 80%;
                              video {
                                  width: 100%;
                              } 
                         }
                     }
                }
            }
        }
    }
}