// Version mobile 
#section-home {
    font-family: "Lulo Clean";
}
.home-container {
    width: 100%;
    height: 100vh;
    background-image: url(./static/images/bg_s.jpg);
    background-size: cover;
    background-position: center;
    // border: palevioletred 2px solid;
    position: relative;
    .home-overlay {
        width: 100%;
        height: 100vh;
        background: $dark-primary;
        opacity: 0.60;
        position: absolute;
    }
    .home-animation { 
        overflow: hidden;      
        .animate-text 
        {
            // border: red 2px solid;
            position: absolute;
            left: 50%;
            top: 35%;
            transform: translate(-50%, 0%);
            width: 95%;
            margin: 0;
            padding: 0; 
            .intro-text {
                font-size: 1rem;
                color: $color-primary;
                margin: 0;
                padding: 0;         

            }
            .name-text, .title-text {
                font-size: 2.2rem;
                color: $color-white;    
            }    
                    
        }
        .home-name {
            position: absolute;
            animation: nameIn 8s infinite;
            width: 80%;
        }
        .home-title {
            position: absolute;
            animation: titleIn 8s infinite;
        }
    }
    .home-buttons { 
        position: absolute;
        left: 50%;
        bottom: 20%;
        transform: translate(-50%, 0%);        
    } 
    .home-message {
        font-size: 0.7rem;
        width: 80%;
        color: $grey-darker;
        position: absolute;
        left: 50%;
        bottom: 7%;
        transform: translate(-50%, 0%);
        // border: red 2px solid;

    }     
   
}
@keyframes nameIn {
    0%{
        opacity: 0;
        // transform: translate(-40%, 0%);
        transform: translate(-50%, -20%);
    }
    2%{
        opacity: 1;
        // transform: translate(-40%, 0%);
        transform: translate(-50%, -20%);
    }
    10% {
        opacity: 1;
        // transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
    }
    45% {
        opacity: 1;
        // transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
    }
    50% {
        opacity: 0;
        // transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
    }
    100% {
        opacity: 0;
        // transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
    }
}
@keyframes titleIn {
    0%{
        opacity: 0;
        // transform: translate(-40%, 0%);
        transform: translate(-50%, -20%);
    }
    50% {
        opacity: 0;
        // transform: translate(-40%, 0%);
        transform: translate(-50%, -20%);
    }
    52% {
        opacity: 1;
        // transform: translate(-40%, 0%);
        transform: translate(-50%, -20%);
    }
    60% {
        opacity: 1;
        // transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
    }
    95% {
        opacity: 1;
        // transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
    }
    100% {
        opacity: 0;
        // transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
    }
}


.fixedButton {
    // border: olive 2px solid;
    display: inline-block;
    padding: 10px;
    border-radius: 3px;
    // background: rgba($color-primary, 0.5);
    background: $color-primary;
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 1;
    .fa-chevron-up {
        color: $color-white;
    }
}
// Small: ≥576px
@media only screen and (min-width: 576px) {
    .home-container {
        background-image: url(./static/images/bg_s.jpg);
        .home-animation {      
            .animate-text 
            {
                left: 50%;
                top: 40%;
                transform: translate(-50%, 0%);
                width: 80%;
                .intro-text {
                    font-size: 1.5rem;                              
                }
                .name-text, .title-text {
                    font-size: 3rem;                   
                }             
            }
        }
        .home-buttons { 
            font-family: "Avenir LT";  
            bottom: 18%;     

        } 
        .home-message {
            font-size: 0.8rem;    
            bottom: 3%; 
        }     
    }
}
// Medium: ≥768px
@media only screen and (min-width: 768px) {
    .home-container {
        background-image: url(./static/images/bg_l.jpg);
        .home-animation {      
            .animate-text 
            {
                left: 50%;
                top: 40%;
                transform: translate(-50%, 0%);
                width: 80%;
                .intro-text {
                    font-size: 1.5rem;                              
                }
                .name-text, .title-text {
                    font-size: 3rem;                   
                }             
            }
        }
        .home-buttons { 
            font-family: "Avenir LT";  
            bottom: 25%;     

        } 
        .home-message {
            font-size: 0.85rem;    
            bottom: 10%; 
        }     
    }
}

// Large screen: ≥992px
@media only screen and (min-width: 992px) {
    .home-container {
        background-image: url(./static/images/bg_l.jpg);
        .home-animation {      
            .animate-text 
            {
                left: 50%;
                top: 40%;
                transform: translate(-50%, 0%);
                width: 80%;
                .intro-text {
                    font-size: 1.5rem;                              
                }
                .name-text, .title-text {
                    font-size: 4rem;                   
                }             
            }
        }
        .home-buttons { 
            font-family: "Avenir LT"; 
            bottom: 30%;     
        } 
        .home-message {
            font-size: 1rem;    
            bottom: 10%; 

        }     
    }
}
// Extra Large screen: ≥1200px
@media only screen and (min-width: 1200px) {
    .home-container {
        background-image: url(./static/images/bg_l.jpg);
        .home-animation {      
            .animate-text 
            {
                left: 50%;
                top: 40%;
                transform: translate(-50%, 0%);
                width: 80%;
                .intro-text {
                    font-size: 2rem;                              
                }
                .name-text, .title-text {
                    font-size: 4.5rem;                   
                }             
            }
        }
        .home-buttons { 
            font-family: "Avenir LT"; 
            bottom: 30%;     
        } 
        .home-message {
            font-size: 1rem;   
            bottom: 10%; 
        }     
    }
}