// Version mobile 
#section-about {
    padding: 120px 0 80px 0;
}
.about-container {
    // max-width: 1000px;
    margin: 20px auto;    
    font-family: "Avenir LT";
    // border: palevioletred solid 2px;
    .profile-photo {
        width: 200px;
        height: 200px;
        position: relative;
        margin: 0 auto;
        // border: green solid 2px;

        .photo-shadow {
            width: 150px;
            height: 150px;
            border: $dark-primary solid 9px;
            border-radius: 50%;
            position: absolute;
            z-index: -1;
            top: 17%;
            left: 9%;
        }
        img {
            width: 150px;
            border-radius: 50%;
            position: absolute;
            z-index: 0;
            top: 10%;
            left: 14%;
        }
    }
    .about {
        // border: yellow solid 2px;

        &__option {
            display: flex;
            justify-content: center;
            margin: 10px auto;
        }
        &__content {
            text-align: left;
            .about-me, .about-code, .about-subtitle  {
                margin: 20px 20px 10px 20px;
            }
            .about-subtitle {
                font-size: 1.5rem;
                font-weight: bold;
            }
            .about-me {
                // display: none;
                display: block;
                font-size: 1.1rem;
                // font-weight: bold;
            }
            .about-code {
                // display: none;
                display: block;
                // border: yellow solid 2px;
                font-size: 1.1rem;
                .reason-item {
                    margin: 20px 0;
                    .reason-subtitle {
                        font-weight: bold;
                    }
                }
                .read-more, .read-less {
                    font-style: italic;
                    cursor: pointer;
                }
                .shortDisplay {
                    display: none;
                    display: block;
                }
                .fullDisplay {
                    display: none;
                    // display: block;
                }
            }
        }
    }
}
// Small: ≥576px
@media only screen and (min-width: 576px) {
    .about-container {
        width: 80%;
        .about {
            &__content {
                .about-me {
                    font-size: 1.2rem;
                }
                .about-code {
                    font-size: 1.2rem;
                }
            }
        }
    }
}


// Large screen: ≥992px
@media only screen and (min-width: 992px) {
    .about-container {    
        display: flex;
        // max-width: 1000px;
        margin: 80px auto;
        .profile-photo {
            width: 30%px;
            .photo-shadow {
                width: 15vw;
                max-width: 210px;
                height: 15vw;
                max-height: 210px;
                border: $dark-primary solid 11px;
                border-radius: 50%;
                position: absolute;
                z-index: -1;
                top: 37%;
                left: 0%;
            }
            img {
                width: 15vw;
                max-width: 210px;
                border-radius: 50%;
                position: absolute;
                z-index: 0;
                top: 30%;
                left: 5%;
            }
        }
        .about {
            width: 70%;
            &__option {
                display: flex;
                justify-content: start;
                padding-left: 15px;
            }
            &__content {
                text-align: left;
                .about-me, .about-code, .about-subtitle  {
                    margin: 20px 20px 10px 20px;
                }
                .about-me {
                    font-size: 1.25rem;
                }
                .about-code {
                    font-size: 1.25rem;
                }
                .about-subtitle {
                    font-weight: bold;
                    font-size: 1.7rem;
                }
            }
        }
    }
}
