// Mobile
.section-title {
  font-family: "Lulo Clean";
  // border: olive 1px solid;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  &--number {
    text-align: left;
    font-size: 1rem;
    color: $color-primary;
    // border: olive 1px solid;

  }
  &--main{
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: left;
    span {
      color: $color-primary;
    }
  }
}
// Small: ≥576px
@media only screen and (min-width: 576px) {
  .section-title {
    margin-left: 30px;
    &--number {
      font-size: 1.2rem;  
    }
    &--main{
      font-size: 2rem;
    }
  }
}

// Medium: ≥768px
@media only screen and (min-width: 768px) {
  .section-title {
    margin-left: 50px;
    &--number {
      font-size: 1.3rem;  
    }
    &--main{
      font-size: 3rem;
    }
  }
}
// Large: ≥992px
@media only screen and (min-width: 992px) {
  .section-title {
    margin-left: 100px;
    &--number {
      font-size: 1.3rem;  
    }
    &--main{
      font-size: 3.5rem;
    }
  }
}