@font-face {
  font-family: "Open Sans";  
  // src: url("./static/fonts/OpenSans-ExtraBold.ttf") format("truetype");
  // src: url("./static/fonts/OpenSans-Bold.ttf") format("truetype");
  // src: url("./static/fonts/OpenSans-Light.ttf") format("truetype");
  src: url("./static/fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
font-family: "Lulo Clean";  
src: url("./static/fonts/FontsFree-Net-Lulo-Clean-W01-One-Bold.ttf") format("truetype");
font-weight: normal;
font-style: normal;
}

@font-face {
  font-family: "Avenir LT";  
  src: url("./static/fonts/Avenir LT W01 35 Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  }