@font-face {
  font-family: "Open Sans";  
  // src: url("./static/fonts/OpenSans-ExtraBold.ttf") format("truetype");
  // src: url("./static/fonts/OpenSans-Bold.ttf") format("truetype");
  src: url("./static/fonts/OpenSans-Light.ttf") format("truetype");
  // src: url("./static/fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
