// $dark-primary: #3E3E3E;
// $dark-primary: black;
$dark-primary: #1c1b20;
// $dark-lighter: #9f9d9d;
$dark-lighter: #4c4a57;
$dark-lightest: #747375;
// $grey-primary: #F4F4F4;
$grey-primary: #f8f8f8;
$grey-darker: #dfdfdf;
$grey-darkest: #b0b0b0;
$color-white: white;
// $color-primary: #DFF2F6;
$color-primary: #4BD1A0;
// $color-primary: #ff5851;
// $color-secondary: #E2D8CE;
$color-secondary: #dfdfdf;

